:root {
  --theme-color-gray: #6c757d;
  --theme-color-dark: #495057;
  --theme-color-darker: #343a40;
  --theme-color-darkest: #212529;
  --theme-color-light: #ced4da;
  --theme-color-lighter: #e9ecef;
  --theme-color-lightest: #f8f9fa;

  /* https://coolors.co/0d1821-344966-b4cded-f0f4ef-bfcc94 */
  --theme-color-rich-black-fogra: #0d1821;
  --theme-color-independence: #344966;
  --theme-color-light-steel-blue: #b4cded;
  --theme-color-powder: #F0F4EF;
  --theme-color-sage: #bfcc94;

  --font-color: var(--theme-color-powder);
}

html,
body {
  box-sizing: border-box;
  color: var(--font-color);
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 3.4rem;
}