:root {
  --theme-color-gray: #6c757d;
  --theme-color-dark: #495057;
  --theme-color-darker: #343a40;
  --theme-color-darkest: #212529;
  --theme-color-light: #ced4da;
  --theme-color-lighter: #e9ecef;
  --theme-color-lightest: #f8f9fa;

  --font-color: var(--theme-color-lightest);
}

html,
body {
  box-sizing: border-box;
  color: var(--font-color);
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 3.4rem;
}