.container {
  background-color: var(--theme-color-lightest);
  height: 100vh;
}

.header {
  background-color: var(--theme-color-powder);
  box-sizing: border-box;
  height: 33vh;
  padding: 40px;
}

.articles {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  margin: 0 auto;
  max-width: 960px;
  padding: 50px;
}

@media (min-width: 426px) {
  .container {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: ". .";
  }

  .main {
    height: 100vh;
    overflow-y: scroll;
  }
}
