.container {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  height: 100vh;
}

.leftNav {
  background-color: var(--theme-color-darkest);
  display: grid;
  grid-template-rows: 1fr 48px 48px 48px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    "."
    ".";
  justify-items: center;
}

.main {
  background-color: var(--theme-color-darker);
}

.article {
  background-color: var(--theme-color-gray);
  padding: 10px;
}